/* TutorRegistrationForm.css */
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tutor-form h2,.tutor-form h3, .tutor-form h4 {
    text-align: center;
    margin-bottom: 10px;
}

.tutor-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.tutor-form input,
.tutor-form select,
.tutor-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.tutor-form input:focus,
.tutor-form select:focus {
    border-color: #007bff;
    outline: none;
}

.tutor-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.tutor-form button:hover {
    background-color: #0056b3;
}

.tutor-form span {
    color: red;
}

